<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>task4</title>
	<link rel="stylesheet" href="../resoures/styles/task4.css" />
	<script src="../resoures/js/task4.js"></script>
</head>
<body>
	<div class="wrapper">
		<header>
			<h1>文章标题</h1>
		</header>
		<div class="main">
			<h2 class="main-title">移动到</h2>
			<ul class="move-items" id="move-item">
				<li class="move-item article move-item-selected">
					<a href="javascript:void(0);">文集</a>
				</li>
				<li class="move-item story">
					<a href="javascript:void(0);">故事</a>
				</li>
				<li class="move-item daily">
					<a href="javascript:void(0);">日记</a>
				</li>
				<li class="move-item instrest">
					<a href="javascript:void(0);">兴趣</a>
				</li>
				<li class="move-item job">
					<a href="javascript:void(0);">工作</a>
				</li>
			</ul>
		</div>
		<footer>
			<div class="cancel">
				<a href="javascript" class="btn btn-cancel"></a>
				<p class="dots">
					<a href="javascript:void(0);" class="btn-dot"></a>
					<a href="javascript:void(0);" class="btn-dot"></a>
					<a href="javascript:void(0);" class="btn-dot"></a>
				</p>
			</div>
			<div class="footer-logo">
				尾部logo
			</div>
		</footer>
	</div>
</body>
</html>