<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
	<title>task1</title>
	<link rel="stylesheet" href="../resoures/styles/task1.css" />
	<script src="../resoures/js/task1.js"></script>
</head>
<body>
	<div class="wrapper">
		<header>
			<div class="common-left back">
				<a href="javascript:void(0);" class="btn"></a>
			</div>
			<div class="common-middle" id="common-middle">
				<ul>
					<li class="common-middle-item"><a href="javascript:void(0);" class="btn-article selected">文章</a></li>
					<li class="common-middle-item"><a href="javascript:void(0);" class="btn-contribute">投稿</a></li>
				</ul>
			</div>
			<div class="common-right search">
				<a href="javascript:void(0);" class="btn"></a>
			</div>
		</header>
		<div class="main">
			<nav class="nav" id="nav">
				<ul class="nav-items">
					<li class="nav-item nav-item-selected"><a href="javascript:void(0);">文集</a></li>
					<li class="nav-item"><a href="javascript:void(0);">故事</a></li>
					<li class="nav-item"><a href="javascript:void(0);">日志</a></li>
					<li class="nav-item"><a href="javascript:void(0);">兴趣</a></li>
					<li class="nav-item"><a href="javascript:void(0);">工作</a></li>
				</ul>
				<div class="nav-item-add">
					<a href="javascript:void(0);" class="btn"></a>
				</div>
			</nav>
			<div class="news">
				<ul class="news-items">
					<li class="news-item more-details">
						<div class="timeline change">
							<h3>
								<span class="timeline-icon"></span>
								<span class="timeline-time">2016年3月</span>
							</h3>
						</div>
						<div class="article-img">
							<img src="../resoures/images/我的文章3标注_03.png" alt="news photos" />
						</div>
						<div class="article-info">
							<h1 class="article-title">中国产能过剩的真相，超深刻!</h1>
							<div class="article-content">
								<p>
									<span class="article-specific-time">上午9.10</span>
									<span class="article-abstract">作为今年中国经济工作的五大任务之正落实成为各地方竞相完成的具体指标。章保证完成</span>
								</p>
							</div>
							<div class="article-feedbacks">
								<ul class="feedbacks-items">
									<li class="feedbacks-item">
										<span class="feedbacks-text">阅读</span>
										<span class="feedbacks-number">120</span>
									</li>
									<li class="feedbacks-item">
										<span class="feedbacks-text">评论</span>
										<span class="feedbacks-number">20</span>
									</li>
									<li class="feedbacks-item">
										<span class="feedbacks-text">喜欢</span>
										<span class="feedbacks-number">88</span>
									</li>
									<li class="feedbacks-item ellipsis">
										<a href="javascript:void(0);" class="btn-dot"></a>
										<a href="javascript:void(0);" class="btn-dot"></a>
										<a href="javascript:void(0);" class="btn-dot"></a>
									</li>
									<li class="feedbacks-item full-text">
										<a href="javascript:void(0);" class="btn-full"></a>
									</li>
								</ul>
							</div>
							<div class="article-operations">
								<ul class="operations-items">
									<li class="operations-item">
										<a href="javascript:void(0);" class="btn-pub">去发布</a>
									</li>
									<li class="operations-item">
										<a href="javascript:void(0);" class="btn-contribute">投稿</a>
									</li>
									<li class="operations-item">
										<a href="javascript:void(0);" class="btn-delete">删除</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="news-item">
						<div class="timeline">
							<h3>
								<span class="timeline-icon"></span>
								<span class="timeline-time">2016年3月</span>
							</h3>
						</div>
						<div class="article-img">
							<img src="../resoures/images/我的文章3标注_03.png" alt="news photos" />
						</div>
						<div class="article-info">
							<h1 class="article-title">中国产能过剩的真相，超深刻!</h1>
							<div class="article-content">
								<p>
									<span class="article-specific-time">昨天</span>
									<span class="article-abstract">过剩产能是资本主义规模经济的必然产物。中国民生主市场经济，能否比西方资本主导的市场经济更好地化解过剩越来越值得期待是否能够走出</span>
								</p>
							</div>
							<div class="article-feedbacks">
								<ul class="feedbacks-items">
									<li class="feedbacks-item">
										<span class="feedbacks-text">阅读</span>
										<span class="feedbacks-number">120</span>
									</li>
									<li class="feedbacks-item">
										<span class="feedbacks-text">评论</span>
										<span class="feedbacks-number">20</span>
									</li>
									<li class="feedbacks-item">
										<span class="feedbacks-text">喜欢</span>
										<span class="feedbacks-number">88</span>
									</li>
									<li class="feedbacks-item ellipsis">
										<a href="javascript:void(0);" class="btn-dot"></a>
										<a href="javascript:void(0);" class="btn-dot"></a>
										<a href="javascript:void(0);" class="btn-dot"></a>
									</li>
									<li class="feedbacks-item full-text">
										<a href="javascript:void(0);" class="btn-full"></a>
									</li>
								</ul>
							</div>
							<div class="article-operations">
								<ul class="operations-items">
									<li class="operations-item">
										<a href="javascript:void(0);" class="btn-contribute">投稿</a>
									</li>
									<li class="operations-item">
										<a href="javascript:void(0);" class="btn-moveto">移动到</a>
									</li>
									<li class="operations-item">
										<a href="javascript:void(0);" class="btn-cancel">取消发布</a>
									</li>
									<li class="operations-item">
										<a href="javascript:void(0);" class="btn-delete">删除</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="news-item more-details">
						<div class="timeline change">
							<h3>
								<span class="timeline-icon"></span>
								<span class="timeline-time">2016年2月</span>
							</h3>
						</div>
						<div class="article-img">
							<img src="../resoures/images/我的文章3标注_03.png" alt="news photos" />
						</div>
						<div class="article-info">
							<h1 class="article-title">中国产能过剩的真相，超深刻!</h1>
							<div class="article-content">
								<p>
									<span class="article-specific-time">16/02/18</span>
									<span class="article-abstract">作为今年中国经济工作的五大任务之正落实成为各地方竞相完成的具体指标。章保证完成</span>
								</p>
							</div>
							<div class="article-feedbacks">
								<ul class="feedbacks-items">
									<li class="feedbacks-item">
										<span class="feedbacks-text">阅读</span>
										<span class="feedbacks-number">120</span>
									</li>
									<li class="feedbacks-item">
										<span class="feedbacks-text">评论</span>
										<span class="feedbacks-number">20</span>
									</li>
									<li class="feedbacks-item">
										<span class="feedbacks-text">喜欢</span>
										<span class="feedbacks-number">88</span>
									</li>
									<li class="feedbacks-item ellipsis">
										<a href="javascript:void(0);" class="btn-dot"></a>
										<a href="javascript:void(0);" class="btn-dot"></a>
										<a href="javascript:void(0);" class="btn-dot"></a>
									</li>
									<li class="feedbacks-item full-text">
										<a href="javascript:void(0);" class="btn-full"></a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="news-item">
						<div class="timeline change">
							<h3>
								<span class="timeline-icon"></span>
								<span class="timeline-time">2016年2月</span>
							</h3>
						</div>
						<div class="article-img">
							<img src="../resoures/images/我的文章3标注_03.png" alt="news photos" />
						</div>
						<div class="article-info">
							<h1 class="article-title">中国产能过剩的真相，超深刻!</h1>
							<div class="article-content">
								<p>
									<span class="article-specific-time">16/02/18</span>
									<span class="article-abstract">过剩产能是资本主义规模经济的必然产物。中国民生主市场经济，能否比西方资本主导的市场经济更好地化解过剩越来越值得期待</span>
								</p>
							</div>
							<div class="article-feedbacks">
								<ul class="feedbacks-items">
									<li class="feedbacks-item">
										<span class="feedbacks-text">阅读</span>
										<span class="feedbacks-number">120</span>
									</li>
									<li class="feedbacks-item">
										<span class="feedbacks-text">评论</span>
										<span class="feedbacks-number">20</span>
									</li>
									<li class="feedbacks-item">
										<span class="feedbacks-text">喜欢</span>
										<span class="feedbacks-number">88</span>
									</li>
									<li class="feedbacks-item ellipsis">
										<a href="javascript:void(0);" class="btn-dot"></a>
										<a href="javascript:void(0);" class="btn-dot"></a>
										<a href="javascript:void(0);" class="btn-dot"></a>
									</li>
									<li class="feedbacks-item full-text">
										<a href="javascript:void(0);" class="btn-full"></a>
									</li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="more-news">
				<span>更多内容</span>
			</div>
		</div>
		<footer>
			<div class="footer">
				<a href="javascript:void(0);" class="btn btn-add"></a>
				<p class="dots">
					<a href="javascript:void(0);" class="btn-dot"></a>
					<a href="javascript:void(0);" class="btn-dot"></a>
					<a href="javascript:void(0);" class="btn-dot"></a>
				</p>
			</div>
		</footer>
	</div>
</body>
</html>