<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>task3</title>
	<link rel="stylesheet" href="../resoures/styles/task3.css" />
</head>
<body>
	<div class="wrapper">
		<header>
			<h1>你关注的比赛</h1>
		</header>
		<div class="main">
			<h2 class="main-title">深圳自媒体大赛</h2>
			<ul class="compition-items">
				<li class="compition-item">
					<div class="item-content">
						<a href="javascript:void(0);" class="compition-item-logo btn-article"></a>
						<span class="compition-item-title">文章</span>
					</div>
				</li>
				<li class="compition-item">
					<div class="item-content">
						<a href="javascript:void(0);" class="compition-item-logo btn-photo"></a>
						<span class="compition-item-title">图片</span>
					</div>
				</li>
				<li class="compition-item">
					<div class="item-content">
						<a href="javascript:void(0);" class="compition-item-logo btn-vedio"></a>
						<span class="compition-item-title">视频</span>
					</div>
				</li>
				<li class="compition-item">
					<div class="item-content">
						<a href="javascript:void(0);" class="compition-item-logo btn-link"></a>
						<span class="compition-item-title">链接</span>
					</div>
				</li>
			</ul>
		</div>
		<footer>
			<ul class="extra-items">
				<li class="extra-item"><a href="javascript:void(0);" class="extra-item-material">素材</a></li>
				<li class="extra-item"><a href="javascript:void(0);" class="extra-item-article">文章</a></li>
				<li class="extra-item"><a href="javascript:void(0);" class="extra-item-link">链接</a></li>
			</ul>
			<div class="cancel">
				<a href="javascript" class="btn btn-cancel"></a>
				<p class="dots">
					<a href="javascript:void(0);" class="btn-dot"></a>
					<a href="javascript:void(0);" class="btn-dot"></a>
					<a href="javascript:void(0);" class="btn-dot"></a>
				</p>
			</div>
			<div class="footer-logo">
				尾部logo
			</div>
		</footer>
	</div>
</body>
</html>