@charset "UTF-8";
html, body {
  height: 100%;
}

header {
  line-height: 85px;
  color: #3b86d1;
  border: none;
  border-bottom: 1px solid #dedede;
  padding-left: 25px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  background-color: #fff;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -webkit-box-direction: normal;
  -moz-box-lines: multiple;
  -webkit-box-lines: multiple;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  margin: 0 auto;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

html, body {
  height: 100%;
}

header {
  line-height: 85px;
  color: #3b86d1;
  border: none;
  border-bottom: 1px solid #dedede;
  padding-left: 25px;
}

.cancel {
  text-align: center;
  position: relative;
  line-height: 145px;
  height: 145px;
  border: none;
  border-top: 1px solid #dedede;
}
.cancel .btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 90px;
  height: 90px;
  background: url("../images/取消返回.png") center no-repeat;
  vertical-align: middle;
}
.cancel .dots {
  position: absolute;
  right: 40px;
  top: 0px;
}
.cancel .dots .btn-dot {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #3783ce;
  margin-left: 15px;
}

.footer-logo {
  height: 38px;
  background: url("../images/bottom.png") no-repeat center;
}

.wrapper {
  width: 750px;
  min-height: 1344px;
}

.main {
  margin: 0px 25px;
}
.main .main-title {
  line-height: 85px;
  font-size: 34px;
  border: none;
  border-bottom: 1px solid #dedede;
  font-weight: 500;
  color: #2f2f2f;
}
.main .contribute-item {
  position: relative;
  height: 140px;
  border: none;
  border-bottom: 1px solid #dedede;
}
.main .contribute-item .item-content-logo {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: #d9d9d9;
  float: left;
  margin-top: 27.5px;
  margin-right: 30px;
  text-align: center;
}
.main .contribute-item .item-content-logo span {
  line-height: 85px;
  color: #8a8989;
  font-size: 24px;
  letter-spacing: .15em;
}
.main .contribute-item .item-content-title {
  line-height: 140px;
  font-size: 32px;
}
.main .contribute-item .item-operation {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 130px;
  right: 40px;
}
.main .contribute-item .item-operation .btn-contributing {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 130px;
  height: 140px;
  background-image: url("../images/投稿.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 51px 59px;
}
.main .contribute-item .item-operation .btn-contributed {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 130px;
  height: 140px;
  background-image: url("../images/已投稿.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 51px 59px;
}
.main .contribute-item .item-operation .btn-item {
  background-size: 100%;
}
.main .more-content {
  padding-top: 30px;
  color: #3b86d1;
  font-size: 24px;
  text-align: center;
}
